{% extends 'adminlayout.html.twig' %}
{% block body %}
<div class="page-wrapper">
   <div class="container-fluid">
	<!-- Title -->
    <div class="row heading-bg bg-green">
	<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
    <h5 class="txt-light">Data table</h5>
	</div>
	<!-- Breadcrumb -->
	<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
		<ol class="breadcrumb">
		<li><a href="index.html">Dashboard</a></li>
		<li><a href="#"><span>table</span></a></li>
		<li class="active"><span>data-table</span></li>
		</ol>
	</div>
	<!-- /Breadcrumb -->
	</div>
				<!-- /Title -->
				
				<!-- Row -->
				<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-default card-view">
							<div class="panel-heading">
								<div class="pull-left">
									<h6 class="panel-title txt-dark">data Table</h6>
								</div>

								<div class="pull-right">
									<a href="{{ url('homepage') }}admin/cat/create"><button type="button" class="btn btn-success">Create a Category </button></a>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="panel-wrapper collapse in">
								<div class="panel-body">
									<div class="table-wrap">
										<div class="table-responsive">
											<table id="datable_1" class="table table-hover display  pb-30" >
										<thead>
										<tr>
												<th>S.No</th>
												<th>Category Name</th>
												<th>Parent Category</th>
												<th>Top parent Category</th>
												<th>Created</th>
												<th>Modified</th>
												<th>Actions</th>
													</tr>
												</thead>
												<tfoot>
													<tr>
												<th>S.No</th>
												<th>Category Name</th>
												<th>Parent Category</th>
												<th>Top parent Category</th>
												<th>Created</th>
												<th>Modified</th>
						    					<th>Actions</th>
													</tr>
												</tfoot>
												<tbody>
                                                  {% set myVal = 1 %}

                                        {% for catdata in catdatas %}
										<tr>
										<td>{{ myVal }}</td>
										<td>{{ catdata.name }}</td>
										<td></td>
										<td></td>
										<td>{{ catdata.createdTime |date("m/d/Y") }} </td>
										<td>{{ catdata.updatedTime | date("m/d/Y") }}</td>
										<td><a class="confirmation" href ="{{ url('homepage') }}admin/cat/delete/{{catdata.id}}"><button class="btn btn-danger btn-icon-anim btn-circle">
                                             <i class="icon-trash"></i>
                                                        </button></a>
                                                        <a href="{{ url('homepage') }}admin/cat/edit/{{catdata.id}}">
                                        <button class="btn btn-warning btn-icon-anim btn-circle">
                                         <i class="fa fa-pencil"></i>
                                         </button></a>
                                                        </td>
										</tr>
													 {% set myVal = myVal + 1 %}

													{% endfor %}
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>	
					</div>
				</div>
				<!-- /Row -->
				 {% endblock %}