<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- TITLE OF SITE -->
    <title>Homepage</title>
	<meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('vendors/frontend/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('vendors/frontend/css/bootstrap-select.css') }}">
    <link rel="stylesheet" href="{{ asset('vendors/frontend/css/custom.css') }} ">
	<link rel="stylesheet" href="{{ asset('vendors/frontend/css/responsive.css') }}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header class="header">       
    <nav class="index-header navbar " id="main-navbar">
        <div class="container">
            <!-- Menu Button for Mobile Devices -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <ul class="list-inline">
                        <li><img src="{{ asset('vendors/frontend/images/mob-menu.svg') }}" alt="mob-menu"></li>
                        <li><span class="">Menu</span></li>
                    </ul>
                </button>
                <a href="{{ url('homepage') }}" class="navbar-brand smooth-scroll">
                	<img src="{{ asset('vendors/frontend/images/logo.svg') }}" class="logo_height" alt="logo"/>
                </a>
            </div><!-- /End Navbar Header -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <!-- Menu Links -->
                   <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Behavioural Science</a></li>
                    <li><a href="#">Computer Science</a></li>
                    <li><a href="#">System Architecture</a></li>
                    <li><a href="#">All Resources</a></li>
                </ul><!-- /End Menu Links -->
            </div><!-- /End Navbar Collapse -->
        </div><!-- /End Container -->
    </nav><!-- /End Navbar -->
</header>
{% block body %}{% endblock %}
<section class="block contact text-center">
    <div class="container">
        <div class="row">
            <div class="contact-block">
                <div class="icon">
                    <img src="{{ asset('vendors/frontend/images/contacticon.svg') }} " alt="contact-icon">
                </div>
                <h2>Contact Us</h2>
                <p>We use range of social and media networks to keep our stakeholfers, investigators and those interested in the project up-to-date with developments. You can contact us through any of these networks and also sign up to our mailing list.</p>
                <a href="" class="btn">Contact</a>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <ul class="text-center footer-links list-inline">
        <li><a href="#">Grant Holders & Project Team</a></li>
        <li><a href="#">Latest News</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <div class="container-fluid bottom-footer">
        <div class="row">
            <div class="col-sm-4 col-xs-5">2017. Privacy Policy</div>
            <div class="col-sm-4 col-xs-2 text-center"><a href=""><img src="images/footer-twitter.svg" alt="footer-twitter"></a></div>
            <div class="col-sm-4 col-xs-5 text-right">Site by British Websites</div>
        </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="{{ asset('vendors/frontend/js/bootstrap-select.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#dp').click(function(){
            $('.sh').slideToggle();
            $('.dropdown').toggleClass('rotate');
        })
    })
        $('.selectpicker').selectpicker({
  style: 'btn-info',
  size: 4
});
</script>
</body>

</html>
